{% extends "base.html" %}
{% block content %}
<!-- Product Cart Start -->
<div class="container">
    <div class=" w-100 mt-4">
        <div class="d-flex flex-wrap justify-content-between">
            <h4 class="d-block" >Kitoblar</h4>
            <form class="d-flex" method="get" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-dark" type="submit">Search</button>
              </form>
        </div>

        <div class="d-flex flex-wrap justify-content-between ">
            {% for bok in bok %}
            <!-- Product Cart Start -->
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                <img src="{{ bok.image.url }}" alt="" width="200px">
                <div class="card-body">
                    <h6 class="align-center card-title">{{ bok.name }}</h6>
                    <span class="center card-text"><small>{{ bok.book_class }}</small></span>
                    <div class="buttons d-flex flex-wrap justify-content-between ">
                        <a class="btn btn-outline-primary" href="{{ bok.file.url }}">📥 </a>
                        <a class="btn btn-outline-primary" href="{% url 'details_book' bok.id %}">Ko`rish</a>
                    </div>
                </div>
            </div>
            <!-- Product Cart End -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- Product Cart End -->
{% endblock content %}