{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <center><h1>Savollar</h1></center>
    <div class="row">
        {% for sav in sav %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ sav.student_class }} sinf o`quvchisi {{ sav.student_name }}dan savol</h5>
                    <p class="card-text">{{ sav.body }}</p>
                    <a href="{% url 'javob' sav.id %}" class="btn btn-primary">Javob yozish</a>
                </div>
        </div>
        {% endfor %}
        <br>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    +
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Savol yozish</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Savol +</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    </div>
    
</div>

{% endblock content %}